*{
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
}

:root{
    --dark-purple: #9333ea;
    --light-purple: #c084fc;
    --bgc-purple:#d8b4fe;
    --nav-height: 7.5rem;
}

body{
    background-color: var(--bgc-purple);
}

section{
    padding-inline: 1rem;    
}

p{
    text-align: center;
    font-size: 2rem;
}

img{
    border-radius: 10%;
}

nav {
    width: 100dvw;
    height: var(--nav-height);
    position: sticky;
    top: 0;
    align-content: center;
    background-color: var(--dark-purple);
    z-index: 1000;
}

nav > ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    font-weight: 600;
    font-size: 1.8rem;
}

nav > ul > a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: #3b0764;
    transition: color 0.15s;
}

.welcome{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 3rem;
    padding-block: 5rem;
    justify-items: center;
}

section > div:first-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
}

.welcome > div:first-child h1{
    font-size: 4.5rem;
}

section:not(.welcome) > div:first-child h1{
    font-size: 3.2rem;
}

.about-me{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--light-purple);
    padding-block: 10rem;
}

.images-anchor{
    position: relative;
    display: inline-block;
}

.hover-button > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 50%;
    background-color: var(--dark-purple);
    height: 6rem;
    fill: white;
    display: none;
    padding: 0.6rem;
}

.about-me > div > a:hover .hover-button > svg,
.portfolio > a:hover .hover-button > svg{
    display: block;
    cursor: pointer;
}
.about-me > div > a:hover > img,
.portfolio img:hover{
    opacity: .9;
    cursor: pointer;
    /* transition: opacity 0.15s; */
}

.portfolio{
    padding-block: 7.5rem;
    display: grid;
    gap: 5rem;
    justify-items: center;
}

.portfolio > p > a{
    text-decoration: none;
}
.portfolio > p > a:hover{
    text-decoration: underline;
}

.portfolio img{
    aspect-ratio: 1.8;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-purple);
    padding-block: 10rem;
    gap: 4rem;
}

svg{
    height: 5rem;
}

.svg-container :nth-child(2){
    margin-inline: 4rem;
}

.svg-container > a{
    text-decoration: none;
}

#about-me,
#portfolio,
#contact{
    scroll-margin-top: var(--nav-height);
}

#welcome{
    scroll-margin-top: var(--nav-height);
}

footer{
    margin-top: 5rem;
    background-color: var(--dark-purple);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    gap: 3rem;
}

footer svg{
    height: 3rem;
}

footer svg:hover{
    opacity: .75;
    transition: opacity .15s;
}

.gallery img{
    height: 350px;
}

.gallery{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    justify-items: center;
}

.gallery div > img{
    margin: 10px;
}